

  /* navbar css */

.header {
  height: var(--header-height);
  background-image: linear-gradient(0, #fe6532, #f6412e);
}

.header__navbar {
  display: flex;
  justify-content: space-between;
}

.header__navbar-list {
  list-style: none;
  margin-top: 6px;
  padding-left: 0;
}

.header__navbar-item {
  margin: 0 8px;
  position: relative;
  min-height: 8px;
}

.header__navbar-item{
  position: relative;
}

.header__navbar-item--has-qr:hover .header__qr{
    display: block;
}

.header__navbar-item--has-notify:hover .header__notify{
  display: block;
}

.header__navbar-item,
.header__navbar-item-link {
  display: inline-block;
  font-size: 1.3rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item--strong {
  font-weight: 500;
}

.header__navbar-item--separate::after {
  content: "";
  display: block;
  position: absolute;
  border-left: 1px solid #fb9086;
  height: 16px;
  right: -9px;
  top: 50%;
  transform: translateY(-50%);
}

.header__navbar-icon-link {
  color: var(--white-color);
  text-decoration: none;
}

.header__navbar--icon {
  font-size: 1.8rem;
  margin: 0 4px;
}

.header__navbar--no-pointer {
  cursor: text;
  color: var(--white-color);
}

/* Header QR Code */

.header__qr{
  display: none;
  background-color: var(--white-color);
  width: 182px;
  top: 160%;
  left: 0;
  position: absolute;
  padding: 8px;
  border-radius: 2px;
  margin-left: 2px;
  animation: fadeIn ease-in 0.3s;
}

.header__qr::before{
  width: 100%;
  content: "";
  top: -16px;
  position: absolute;
  height: 20px;
  display: block;
  left: 0;
}

.header__qr-img{
  width: 100%;
}

.header__qr-apps{
  display: flex;
  justify-content: space-between;
}


.header__qr-download-img{
  height: 18px;
}

/* Header Notification  */

.header__notify{
  display: none;
  z-index: 99;
  position: absolute;
  cursor: text; 
  top: 152%;
  width: 404px;
  right: 0;
  background-color: var(--white-color);
  border: 1px solid #d3d3d3;
  transform-origin: calc(100% - 20px) top ;
  animation: headerNotifyGrow ease-in 0.2s;
  border-radius: 2px;
}

.header__notify::after{
  content: "";
  border-width: 20px 25px ;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 20px;
  top: -30px;

}

.header__notify::before{
  position: absolute;
  content: "";
  width: 100%;
  display: block;
  height: 32px;
  top: -16px;
}

.header__list-notify{
  background-color: #f5f1f0;
}

.header__notify-header{
  height: 35px;
  background-color: var(--white-color);

  }

  .header__notify-header h3{
    color: #756f6e;
    margin: 20px 0 0 12px;
    font-weight: 400; 
    font-size: 1.6rem;
    user-select: none;

  }

.header__notify-list{
  padding-left: 0;
  transition: background-color .3s ease;
  padding-top: 10px;
  }

  .header__notify-list:hover{
    background-color: rgba(238, 77, 45, 0.09);
  }

.header__notify-item{
  display: flex;

  }


.header__notify-link{
  display: flex;
  padding: 12px;
  margin-top: -10px;
  text-decoration: none;
  }


.header__notify-img{
  width: 40px;
  object-fit: contain;
  }

.header__notify-info{
  text-decoration: none;
  margin-left: 12px;
}


.header__notify-name{
  display: block;
  font-size: 15px;
  color: var(--black-color);
  font-weight: 400;

  }
.header__notify-describe{
  display: block;
  font-size: 12px;
  color: #756f6e;
  margin-top: 10px;
  line-height: 1.4rem;
  }

  .header__notify-footer{
    transition: background-color .3s ease;
    cursor: pointer;
    display: flex;
  }

  .header__notify-footer:hover{
    background-color: rgba(238, 77, 45, 0.09);
  }

  .header__notify-footer-btn{
    text-decoration: none;
    color: var(--black-color);
    margin: auto;
    padding: 12px;
    font-weight: 400;
  }

  /* Authentication form */
.auth-form{
  width: 500px;
  border-radius: 5px;
  overflow: hidden;
}


.auth-form__container{
  padding:0 32px ;
}

.auth-form__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  margin-top: 12px;
}

.auth-form__heading{
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--text-color);
}

.auth-form__switch-btn{
  font-size: 1.6rem;
  color: var(--primary-color);
  font-weight: 600;
  cursor: pointer;
}

.auth-form__input{
  width: 100%;
  height: 40px;
  margin-top:  16px;
  padding: 0 12px;
  font-size: 1.4rem;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  outline: none;
}

.auth-form__input:focus{
  border-color: #777;
}

.auth-form__aside{
  margin-top: 18px;
}

.auth-form__policy-text{
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.8rem;
  text-align: center;
  padding: 0 12px;
}

.auth-form__text-link{
  color: var(--primary-color);
  font-weight: 600;
  text-decoration: none;
}

.auth-form__controls{
  margin-top: 90px;
  display: flex;
  justify-content: end;
  margin-bottom: 18px;
}

.auth-form__controls-back{
  margin-right: 8px;
}

.auth-form__social{
  background-color: #ebe3e3;
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
}

.auth-form__social-icon{
  font-size: 1.8rem;
}

.btn--icon-fb,
.btn--icon-gg{
  display: flex;
  justify-content: space-around;
  width: 210px;
  font-weight: 550;
  padding-right: 20px;
}


.btn--icon-fb{
    color: var(--white-color);
    background-color:#0166e1 ;
    font-size: 1.3rem;
}

.btn--icon-gg{
  background-color: white;
  color: var(--text-color);
}

.auth-form__help{
  display: flex;
  justify-content: right;
}
.auth-form__help-link{
  font-size: 1.4rem;
  text-decoration: none;
  margin: 4px 10px;
  font-weight: bold;
  color: #939393;
}

.auth-form__help-separate{
  display: block;
  height: 22px;
  margin: 1px 16px 0;
  border-left: 1px solid var(--border-color);
}

.auth-form__help-primary{
  color: var(--primary-color);
}

/* search bar */


.header-search{
  height: var(--search-height);
  display: flex;
  align-items: center;
  padding-left: 10px;
  
}

.header-search__logo-img{
  align-self: center;
  width: 150px;
  cursor: pointer;
}

.header-search__search-bar{
  background-color: var(--white-color);
  border-radius: 2px;
  height: 39px;
  margin-left: 45px;
  width: 100%;
  flex:1;
  display: flex;
  position: relative;
  align-items: center;
}

.header__search-input{
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.4rem;
  color: var(--text-color);
  padding: 0 16px;
  border-radius: 4px;
}

.btn-search{
  margin: 2px;
  outline: none;
  font-size: 1.4rem;
  border: none;
  border-radius: 2px;
  width: 59px;
  height: 34px;
  background-color: var(--primary-color);
  color: var(--white-color);
  transition: opacity .3s ease;
  cursor: pointer;
}

.btn-search:hover{
  opacity: .8;
}

.header__search-history{
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--white-color);
  width: calc(100% - 59px);
  margin-top: 6px;
  border-radius: 2px;
  z-index: 33;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.header__search-history-list{
  padding: 0;
  margin: 0;
}

.header__search-history-item{
  list-style: none;
  font-size: 1.6rem;
  padding: 14px 12px;
}

.header__search-history-item:hover{
  background-color: #f5f1f0;
  cursor: pointer;
}

.header__search-input:focus ~ .header__search-history{
  display: block;
}

.header-search__cart{
  height: 59px;
  width: 138px;
  text-align: center;
  position: relative;
}

.header-search__icon{
font-size: 2.9rem;
color: var(--white-color);
margin-top: 12px;
cursor: pointer;
transition: .3s;
}

.header-search__icon:hover{
opacity: .7;
}

.header-search__iconTouch:hover .header__shopping-cart-list,
.header-search__iconTouch:hover .header__shopping-cart-empty,
.header-search__iconTouch:hover .header__cart-fix-connect{
  display: block;
  }

.header-search__iconTouch{
display: inline-block;
position: relative;
}

.header__shopping-cart{
position: absolute;
display: none;
background-color: var(--white-color);
right: -80%;
top: 60px;
width: 400px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
border-radius: 2px;
animation: fadeIn ease-in 0.2s;
z-index: 4;
}

.header__shopping-cart-empty::after{
  content: "";
  border-width: 20px 25px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 15px;
  top: -34px;
}

.header__shopping-cart-img-empty{
height: 55%;
margin-left: auto;
margin-right: auto;
display: none;
}

.header__shopping-cart-empty{
  height: 300px;
  padding-top: 106%;
}

.header__shopping-cart-text{
font-size: 1.4rem;
padding-top: 5%;
display: none;
}

.shopping-cart__notice{
  position: absolute;
  background-color: var(--white-color);
  font-size: 1.3rem;
  padding: .5px 7px;
  color: var(--text-color);
  font-weight: 300;
  top: 2px;
  left: 25px;
  border: 2px solid #d66152;
  border-radius: 16px;
}

.header__shopping-cart-empty .header__shopping-cart-img-empty,
.header__shopping-cart-empty .header__shopping-cart-text{
  display: block;
}

.list-product{
  max-height: 300px;
  overflow: auto;
}

.header__shopping-cart-list .header__cart-list-title,
.header__shopping-cart-list .list-product{
  display: block;
}

.header__shopping-cart-empty .header__cart-list-title,
.header__shopping-cart-empty .list-product,
.header__shopping-cart-empty .shopping__cart-footer{
  display: none;
}

/* Shopping cart has products */

.header__shopping-cart-list{
  display: none;
} 

.header__shopping-cart-list::after{
  content: "";
  border-width: 20px 25px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 15px;
  top: -34px;
}

 .header__cart-list-title{
  font-size: 1.4rem;
  margin: 0;
  text-align: left;
  padding: 14px 12px;
  color: #bcbbbc;
  font-weight: 400;
}

.header__cart-list-item{
  display: flex;
  padding: 0;
  align-items: center;
  margin: 0;
  cursor: pointer;
  transition: .3s;
}

.header__cart-list-item + .header__cart-list-item{
  margin-top: 16px;
}

.header__cart-list-item:hover{
  padding-top: -16px !important;
  background-color: #ebebeb;
}


.header__cart-img{
  width: 40px;
  height: 36px;
  margin-left: 12px;
  border: 1px solid #f3f3f7;
}

.header__cart-info-item{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 10px;
  width: 100%;
  height: 45px;
  
}

.header__cart-head{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 4px;
}

.header__cart-title{
  font-size: 1.4rem;
  font-weight: 600;
  text-overflow: ellipsis;
  width: 189px;
  white-space: nowrap;
  overflow: hidden;
}

.header__cart-price{
  font-size: 1.4rem;
  color: var(--primary-color);
  font-weight: 600;
  padding-right: 2px;
}

.header__cart-operator{
  font-size: 1rem;
  padding-right: 2px;
}

.header__cart-amount{
  font-size: 1.2rem;
  padding-right: 12px;
  font-weight: 400;
}

.header__cart-item-body{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2px;
}

.header__cart-body-option{
  font-size: 1.3rem;
  color:#908f91;
  font-weight: 400;
}

.header__cart-delete-item{
  text-decoration: none;
  font-size: 1.4rem;
  padding-right: 12px;
  color: var(--text-color);
}

.shopping__cart-footer{
  width: 100%;
  height: 53px;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 4px;
  margin-top: 8px;
  padding-right: 12px;
}

.shopping__cart-list-btn{
  background-color: var(--primary-color);
  width: 120px;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 3px;
  color: var(--white-color);
  font-size: 1.2rem;
  cursor: pointer;
  transition: .3s;
}

.shopping__cart-list-btn:hover{
  opacity: .8;
}


/* personal info */

.header__navbar-personal{
  position: relative;
}

.header__navbar-user{
  display: none;
}

.header__navbar-option-user{
  position: absolute;
  width: 151px;
  height: 159px;
  top: 32px;
  right: 1px;
  background-color: var(--white-color);
  z-index: 3;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: center;
  border-radius: 3px;
  flex-direction: column;
  animation: fadeIn .4s ease;
}

.header__option-user-item{
  text-decoration: none;
  padding-left: 16px;
  color: var(--text-color);
  display: flex;
  align-items: center;
  font-weight: 400;
  height: 48px;
  font-size: 1.4rem;
  transition: .3s ease;
}

.header__logout{
  color:#57cdb7 !important;
}

.header__navbar-option-user::after{
  content: "";
    border-width: 15px 22px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 35px;
    top: -30px;
}

.header__navbar-option-user::before{
  content: "";
  width: 112px;
  height: 20px;
  position: absolute;
  right: 35px;
  background-color: transparent;
  top: -14px;
  right: 1px;
}

.header__navbar-item:hover .header__navbar-user{
  display: block;
} 

.header__option-user-item:hover{
  opacity: .8;
  background-color: #ebebeb;
}


/* content */

.app__container{
  background-color: #f5f5f5;
}

.category{
  background-color: var(--white-color);
  border-radius: 2px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.category__heading{
  font-size: 1.6rem;
  padding: 14px 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.category__heading-icon{
  padding-right: 12px;
}

.category-list{
  padding-left: 30px;
}

.category-item{
  list-style: none;
  padding-bottom: 14px;
}

.category-item__active .category-item__link{
  color: var(--primary-color);
}

.category-item__active .category-item__link::before{
  content: "";
  position: absolute;
  top: 50%;
  left: -11px;
  border: 5px solid;
  transform: translateY(calc(-50% - 1px));
  border-color: transparent transparent transparent var(--primary-color);
}

.category-item__link{
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--text-color);
  position: relative;
  font-weight: 400;
  transition: .3s ease;
  right: 0;
}

.category-item__link:hover{
  right: -4px;
  color:var(--primary-color) ;
}


/* Home filter */


.home-filter{
  display: flex;
  justify-content: space-between;
  height: 61px;
  background-color: #ededed;
  margin-top: 17px;
  border-radius: 2px;
}

.home-filter__list, 
.home-filter__page{
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0;
}

.home-filter__list{
  margin-left: 14px;
}

.home-filter__page{
  margin-right: 14px;
}

.home-filter__item + .home-filter__item{
  padding-left: 12px;
}

.home-filter__item{
  font-size: 1.4rem;
}

.home-filter__popular,
.home-filter__new,
.home-filter__selling{
  width: 88px;
  height: 40px;
  transition: .3s ease;
}

.home-filter__new,
.home-filter__selling{
  background-color: var(--white-color);
}

.home-filter__price{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 40px;
  background: var(--white-color);
  border-radius: 3px;
  padding: 0 12px;
  cursor: pointer;
}

.home-filter__price:hover .filter__price-sort{
  display: block;
 }

.home-filter__price::after{
  content: "";
  position: absolute;
  background-color: transparent;
  width: 200px;
  height: 20px;
  top: 37px;
  right: 0;
}

.filter__price-sort{
  display: none;
  position: absolute;
  background-color: var(--white-color);
  border-radius: 2px;
  width: 200px;
  height: 87px;
  top: 45px;
  right: -1px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-size: 1.5rem;
  font-weight: 400;
  animation: fadeIn .4s ease;
}

.filter__price{
  padding-top: 15px;
  padding-bottom: 10px;
  margin-left: 20px;
  transition: .3s ease;
}

.filter__price:hover{
  color: var(--primary-color);
}

.home-filter_-total{
  padding-right: 10px;
}

.home-filter__page-total{
  color: var(--primary-color);
}

.home-filter__btn{
  background-color: var(--white-color);
  width: 45px;
  height: 43px;
  transition: .3s ease;
}

.home-filter__popular:hover,
.home-filter__new:hover,
.home-filter__selling:hover,
.home-filter__btn:hover{
  opacity: .7;
}

/* Home list product */

.home-product{
  margin-top: 12px;
}

.home-product-item{
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 2px;
  min-height: 310px;
  max-height: 310px;
  margin-bottom: 12px;
  cursor: pointer;
  transition: .2s;
}

.home-product-item:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 1.95px 1.95px 2.6px;
  transform: translateY(-2px);
}

.home-product-item__title{
  margin-top: 12px;
  margin-left: 5px;
  margin-bottom: 0;
  display: -webkit-box;
  font-size: 1.3rem;
  font-weight: 500;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.home-product-item__price{
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  margin-top: 10px;

}

.item-old__unit{
  font-size: 0.9rem;
  text-decoration: underline;
}
.home-item__price-old{
  font-size: 1.4rem;
  font-weight: 300;
  text-decoration: line-through;
  margin-left: 5px;


}
.home-item__price-new{
  margin-left: 6px;
  font-weight: 500;
  color: var(--primary-color);


}
.home-product-item__react{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;

}
.home-item__react-like{
  font-size: 1rem;
}


.home-item__react-rating{
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}

.format-star{
  color: #ffce3d;
}

.home-item__sold-amount{
  font-size: 1.2rem;
  margin-left: 5px;

}
.home-item__madeIn{
  align-self: flex-end;
  margin-top: 10px;
  margin-right: 5px;
  font-size: 1.2rem;
  margin-bottom: 5px;
}